.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.outer-container {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.no-bullet {
  list-style-type: none;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
}

.weather-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 1.5rem;
  background-color: rgb(232, 250, 255);
  padding: 1rem;
  width: 30rem;
  box-shadow: 0px 0px 3px 0.1px rgb(85, 165, 188);
}

.tele-container {
  display: flex;
  justify-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  background-color: rgb(226, 250, 210);
  box-shadow: 0px 0px 3px 0.1px rgb(80, 145, 37);
}

.status-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.btn {
  width: 10rem;
  height: 2.5rem;
  font-size: medium;
}

.text-center {
  text-align: center;
}

.p {
  padding: 0.7rem;
}

.m {
  margin: 0.7rem;
}

.p-l {
  padding-left: 3rem;
}

.p-r {
  padding-right: 3rem;
}

.p-t {
  padding-top: 3rem;
}

.p-b {
  padding-bottom: 3rem;
}

.p-x {
  padding: 0 2rem;
}

.p-y {
  padding: 3rem 0 3rem 0;
}

.m-l {
  margin-left: 1rem;
}

.m-r {
  margin-right: 1rem;
}

.m-t {
  margin-top: 1rem;
}

.m-b {
  margin-bottom: 1rem;
}

.m-bs {
  margin-bottom: 0.5rem;
}

.m-bxl {
  margin-bottom: 3rem;
}

.m-bxxl {
  margin-bottom: 6rem;
}

.m-bxxxl {
  margin-bottom: 12rem;
}

.m-x {
  margin: 0 1rem 0 1rem;
}

.m-y {
  margin: 1rem 0 1rem 0;
}
