.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;
}

.flex-container-centerize {
  display: flex;
  justify-content: center;
}

.modal-container {
  text-align: center;
  font-family: Calibri, sans-serif;
  border-radius: 1.5rem;
  background-color: rgb(255, 226, 129);
  box-shadow: 0px 0px 3px 0.1px rgb(255, 218, 30);
  opacity: 0;
  animation: show 600ms 100ms cubic-bezier(0.38, 0.97, 0.56, 0.76) forwards;
}

@keyframes show {
  100% {
    opacity: 1;
    transform: none;
  }
}

button {
  background-color: #f7fdff;
  color: black;
  border: none;
  display: flex;
  padding: 0.3rem 1rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  box-shadow: 0px 0px 2px 0.1px rgb(55, 55, 55);
  cursor: pointer;
}

button:hover {
  background-color: #e5f8ff;
  box-shadow: 0px 0px 4px 0.3px rgb(160, 160, 160);
}

button:active {
  background-color: #c9f1ff;
  box-shadow: 0px 0px 4px 0.3px rgb(106, 186, 223);
}

button:disabled {
  background-color: #f2f2f2;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: 0px 0px 1px 0.1px rgb(175, 175, 175);
}

.flex-container-outer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: baseline;
}

.outer-container {
  display: flex;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
}

.no-bullet {
  list-style-type: none;
}

.grid-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
}

.h {
  height: 24px;
}

.weather-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  border: 1px solid rgb(189, 189, 189);
  border-radius: 1.5rem;
  background-color: rgb(232, 250, 255);
  padding: 1rem;
  width: 30rem;
  box-shadow: 0px 0px 3px 0.1px rgb(85, 165, 188);
}

.tele-container {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.rocket-container {
  display: flex;
  flex-direction: column;
  width: 20rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-radius: 1.5rem;
  background-color: rgb(255, 247, 233);
  box-shadow: 0px 0px 3px 0.1px rgb(92, 92, 92);
}

.status-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.inline-block {
  display: inline-block;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.btn {
  width: 10rem;
  height: 2.5rem;
  font-size: medium;
}

.text-center {
  text-align: center;
}

.p {
  padding: 1.5rem;
}

.ps {
  padding: 1rem;
}

.m {
  margin: 0.7rem;
}

.p-l {
  padding-left: 3rem;
}

.p-r {
  padding-right: 3rem;
}

.p-t {
  padding-top: 3rem;
}

.p-b {
  padding-bottom: 3rem;
}

.p-x {
  padding: 0 2rem;
}

.p-y {
  padding: 3rem 0 3rem 0;
}

.m-l {
  margin-left: 1rem;
}

.m-r {
  margin-right: 1rem;
}

.m-t {
  margin-top: 1rem;
}

.m-b {
  margin-bottom: 1rem;
}

.m-bs {
  margin-bottom: 0.5rem;
}

.m-bxl {
  margin-bottom: 3rem;
}

.m-bxxl {
  margin-bottom: 6rem;
}

.m-bxxxl {
  margin-bottom: 12rem;
}

.m-x {
  margin: 0 1rem 0 1rem;
}

.m-y {
  margin: 1rem 0 1rem 0;
}
