.weather-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
  border: 1px solid gray;
  border-radius: 1.5rem;
  background-color: rgb(251, 218, 150);
  padding: 1rem;
}

.status-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  width: 10rem;
  height: 2.5rem;
  font-size: medium;
}

.text-center {
  text-align: center;
}

.p-l {
  padding-left: 3rem;
}

.p-r {
  padding-right: 3rem;
}

.p-t {
  padding-top: 3rem;
}

.p-b {
  padding-bottom: 3rem;
}

.p-x {
  padding: 0 3rem 0 3rem;
}

.p-y {
  padding: 3rem 0 3rem 0;
}

.m-l {
  margin-left: 1rem;
}

.m-r {
  margin-right: 1rem;
}

.m-t {
  margin-top: 1rem;
}

.m-b {
  margin-bottom: 1rem;
}

.m-x {
  margin: 0 1rem 0 1rem;
}

.m-y {
  margin: 1rem 0 1rem 0;
}
